.toolbar-f { }
.toolbar { width: auto; height: auto; min-height: 28px; overflow: hidden; }
.toolbar-wrapper { position: relative; min-height: 28px; }
.toolbar-wrapper td .dialog-tool-separator { margin-left: 2px; margin-right: 2px; }
.toolbar-align-left { float: left; }
.toolbar-align-center { margin-left: auto; margin-right: auto; }
.toolbar-align-right { float: right; }
.toolbar-valign-top { }
.toolbar-valign-middle { }
.toolbar-valign-bottom { }
.toolbar-row { }
.toolbar-item-container { padding-left: 1px; padding-right: 1px; }
.toolbar-item, .toolbar-item>* { vertical-align: middle; }
.toolbar-item-label { margin-left: 4px; margin-right: 2px; }
.toolbar-item-label-disabled { color: gray; }
.toolbar-item-input { vertical-align: middle; }
.toolbar-item-button { vertical-align: middle; }
.toolbar-item-checkbox { vertical-align: middle; }
.toolbar-item-checkbox-input { vertical-align: middle; }
.toolbar-item-checkbox-text { vertical-align: middle; }
.toolbar-item-checkbox-disabled { color: gray; }